<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLIsDataBasedPreview</key>
			<true/>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>dyn.ah62d4rv4ge81u6dr</string>
				<string>dyn.ah62d4rv4ge80c2pm</string>
				<string>dyn.ah62d4rv4ge80c6dsq6</string>
				<string>dyn.ah62d4rv4ge80c6xy</string>
				<string>dyn.ah62d4rv4ge80c65f</string>
				<string>dyn.ah62d4rv4ge80c65fsb3gw7df</string>
				<string>dyn.ah62d4rv4ge80c7xx</string>
				<string>dyn.ah62d4rv4ge80e4pf</string>
				<string>dyn.ah62d4rv4ge80e5pugk</string>
				<string>dyn.ah62d4rv4ge80e5pugq</string>
				<string>dyn.ah62d4rv4ge80g2pq</string>
				<string>dyn.ah62d4rv4ge80g2pqsq</string>
				<string>dyn.ah62d4rv4ge80g2pss3u1g</string>
				<string>dyn.ah62d4rv4ge80g2pusvy085u</string>
				<string>dyn.ah62d4rv4ge80g4ps</string>
				<string>dyn.ah62d4rv4ge80g5dmsa</string>
				<string>dyn.ah62d4rv4ge80g7pcqy</string>
				<string>dyn.ah62d4rv4ge80g7py</string>
				<string>dyn.ah62d4rv4ge80k2pyqe</string>
				<string>org.nema.dicom</string>
				<string>dyn.ah62d4rv4ge80k25wqf5u</string>
				<string>dyn.ah62d4rv4ge80k252</string>
				<string>dyn.ah62d4rv4ge80k4x0sy</string>
				<string>dyn.ah62d4rv4ge80k6d2</string>
				<string>dyn.ah62d4rv4ge80k8dyge</string>
				<string>dyn.ah62d4rv4ge80k8dygy</string>
				<string>dyn.ah62d4rv4ge80q2pwqmxgn5de</string>
				<string>dyn.ah62d4rv4ge80q2p2</string>
				<string>dyn.ah62d4rv4ge80q3u</string>
				<string>dyn.ah62d4rv4ge80q4pysq</string>
				<string>dyn.ah62d4rv4ge80q5bxgk</string>
				<string>dyn.ah62d4rv4ge80q5dmq2</string>
				<string>com.kodak.flashpix-image</string>
				<string>dyn.ah62d4rv4ge80q6xbqr4gc5a</string>
				<string>dyn.ah62d4rv4ge80q7dx</string>
				<string>dyn.ah62d4rv4ge80q7d2su</string>
				<string>dyn.ah62d4rv4ge80sq2</string>
				<string>dyn.ah62d4rv4ge80sra</string>
				<string>dyn.ah62d4rv4ge80s4pgha5u</string>
				<string>dyn.ah62d4rv4ge80s6xbqvy0n5xy</string>
				<string>dyn.ah62d4rv4ge80s6xtsz2dk</string>
				<string>dyn.ah62d4rv4ge80u2pqqu</string>
				<string>dyn.ah62d4rv4ge80u6x4</string>
				<string>dyn.ah62d4rv4ge80w25c</string>
				<string>dyn.ah62d4rv4ge80w25s</string>
				<string>dyn.ah62d4rv4ge80w25tr2</string>
				<string>dyn.ah62d4rv4ge80w5xqrf1gn</string>
				<string>dyn.ah62d4rv4ge80w6dq</string>
				<string>dyn.ah62d4rv4ge80y2xh</string>
				<string>dyn.ah62d4rv4ge80y2xmq6</string>
				<string>dyn.ah62d4rv4ge80y5xh</string>
				<string>dyn.ah62d4rv4ge80y5x2</string>
				<string>dyn.ah62d4rv4ge80y6dd</string>
				<string>dyn.ah62d4rv4ge80y6dr</string>
				<string>dyn.ah62d4rv4ge80y6dx</string>
				<string>dyn.ah62d4rv4ge80y6dy</string>
				<string>dyn.ah62d4rv4ge800qvz</string>
				<string>dyn.ah62d4rv4ge8003dd</string>
				<string>dyn.ah62d4rv4ge8022pcqz0a</string>
				<string>dyn.ah62d4rv4ge8042pd</string>
				<string>dyn.ah62d4rv4ge8042pu</string>
				<string>dyn.ah62d4rv4ge8042pxrq</string>
				<string>dyn.ah62d4rv4ge8042py</string>
				<string>dyn.ah62d4rv4ge8043dd</string>
				<string>dyn.ah62d4rv4ge8043pg</string>
				<string>dyn.ah62d4rv4ge8044pgq2</string>
				<string>dyn.ah62d4rv4ge8045xh</string>
				<string>dyn.ah62d4rv4ge80455sr6</string>
				<string>dyn.ah62d4rv4ge8046dd</string>
				<string>dyn.ah62d4rv4ge8047d0</string>
				<string>dyn.ah62d4rv4ge8047xh</string>
				<string>dyn.ah62d4rv4ge8067pqru</string>
				<string>dyn.ah62d4rv4ge8086xb</string>
				<string>dyn.ah62d4rv4ge8087dc</string>
				<string>dyn.ah62d4rv4ge81a2pq</string>
				<string>dyn.ah62d4rv4ge81a2pqry</string>
				<string>dyn.ah62d4rv4ge81a2pr</string>
				<string>dyn.ah62d4rv4ge81a2pysvw1e5u</string>
				<string>dyn.ah62d4rv4ge81a25e</string>
				<string>dyn.ah62d4rv4ge81a25esq</string>
				<string>dyn.ah62d4rv4ge81a25q</string>
				<string>dyn.ah62d4rv4ge81a252</string>
				<string>dyn.ah62d4rv4ge81a3dc</string>
				<string>dyn.ah62d4rv4ge81a3dgqe</string>
				<string>dyn.ah62d4rv4ge81a3px</string>
				<string>dyn.ah62d4rv4ge81a352</string>
				<string>dyn.ah62d4rv4ge81a4dr</string>
				<string>dyn.ah62d4rv4ge81a4pdr71a</string>
				<string>dyn.ah62d4rv4ge81a4p2</string>
				<string>dyn.ah62d4rv4ge81a4xuqzxu</string>
				<string>dyn.ah62d4rv4ge81a5dbsr00c</string>
				<string>dyn.ah62d4rv4ge81a5xhga2a</string>
				<string>dyn.ah62d4rv4ge81a5xhgk4a</string>
				<string>dyn.ah62d4rv4ge81a5xhgq3a</string>
				<string>dyn.ah62d4rv4ge81a5xhgu6a</string>
				<string>dyn.ah62d4rv4ge81a5xhg24a</string>
				<string>dyn.ah62d4rv4ge81a5xhha</string>
				<string>dyn.ah62d4rv4ge81a5xr</string>
				<string>dyn.ah62d4rv4ge81a55drrw1k5ptqu</string>
				<string>dyn.ah62d4rv4ge81a7dmq2</string>
				<string>dyn.ah62d4rv4ge81a75u</string>
				<string>dyn.ah62d4rv4ge81c55m</string>
				<string>dyn.ah62d4rv4ge81e2perfu02pphsmu0k4pfr34a</string>
				<string>dyn.ah62d4rv4ge81e2px</string>
				<string>dyn.ah62d4rv4ge81e35g</string>
				<string>dyn.ah62d4rv4ge81e5db</string>
				<string>dyn.ah62d4rv4ge81e5df</string>
				<string>dyn.ah62d4rv4ge81e5pg</string>
				<string>dyn.ah62d4rv4ge81g25w</string>
				<string>dyn.ah62d4rv4ge81g25wqzw0665kr74a</string>
				<string>dyn.ah62d4rv4ge81g25y</string>
				<string>dyn.ah62d4rv4ge81g3vx</string>
				<string>dyn.ah62d4rv4ge81g3x1</string>
				<string>dyn.ah62d4rv4ge81g4p2</string>
				<string>dyn.ah62d4rv4ge81g4p2qz0a</string>
				<string>dyn.ah62d4rv4ge81g7dfq7u0652</string>
				<string>dyn.ah62d4rv4ge81g7dwrf00s</string>
				<string>dyn.ah62d4rv4ge81g7ps</string>
				<string>dyn.ah62d4rv4ge81k4pgq25dk</string>
				<string>dyn.ah62d4rv4ge81k4pqqy</string>
				<string>dyn.ah62d4rv4ge81k4pr</string>
				<string>dyn.ah62d4rv4ge81k5mw</string>
				<string>dyn.ah62d4rv4ge81n4desk</string>
				<string>dyn.ah62d4rv4ge81n8p0te</string>
				<string>dyn.ah62d4rv4ge81q3db</string>
				<string>dyn.ah62d4rv4ge81q4pdqf3a</string>
				<string>dyn.ah62d4rv4ge81q4pe</string>
				<string>dyn.ah62d4rv4ge81q4pgq2</string>
				<string>dyn.ah62d4rv4ge81q4pusq</string>
				<string>dyn.ah62d4rv4ge81q65y</string>
				<string>dyn.ah62d4rv4ge81s2xmr3xg8</string>
				<string>dyn.ah62d4rv4ge81s2xrsa</string>
				<string>dyn.ah62d4rv4ge81s6dh</string>
				<string>dyn.ah62d4rv4ge81uq5g</string>
				<string>public.xbitmap-image</string>
				<string>dyn.ah62d4rv4ge81u22</string>
				<string>dyn.ah62d4rv4ge81u25g</string>
				<string>dyn.ah62d4rv4ge81u6dr</string>
				<string>dyn.ah62d4rv4ge81u6dx</string>
				<string>dyn.ah62d4rv4ge81u7u</string>
				<string>dyn.ah62d4rv4ge81w7p0</string>
				<string>dyn.ah62d4rv4ge81s5pg</string>
				<string>dyn.ah62d4rv4ge81s5p4</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<false/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>PreviewProvider</string>
	</dict>
</dict>
</plist>
